.slideIn-fade-enter-active,
.slideIn-fade-leave-active {
  transition: all 0.3s ease-out;
}

.slideIn-fade-enter-from {
  transform: translateY(-5px) scale(0.6);
  opacity: 0;
}

.slideIn-fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: scale(0.95);
  opacity: 0;
}

/* slide down */
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.3s ease-out;
}

.slide-down-enter-from {
  transform: translateY(-50svh);
  opacity: 0;
  backdrop-filter: blur(100px);
}

.slide-down-leave-to {
  opacity: 0;
  backdrop-filter: blur(100px);
}
